@tailwind base;
@tailwind components;
@tailwind utilities;


/* applying margin for each item in the slider */
.slick-slide {
    padding: 0 .2rem;

    @media (min-width: 640px) {
        padding: 0 0.3rem;
    }
}

.slick-list {
    padding: 0 -0.2rem;
    /* compensate for the added margin */

    @media (min-width: 640px) {
        padding: 0 -0.3rem;
    }
}